<!doctype html>
<html>
    <head>    
        
        <title>{% assign title_is_not_empty = page.title | is_not_empty %}{% if title_is_not_empty %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google" content="notranslate" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i%26display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        
        {{ content }}
        <!-- Scripts -->
        <script src="{{ 'assets/js/plugins.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/prism.js' | relative_url }}" data-manual></script>
        <script src="{{ 'assets/js/main.js' | relative_url }}"></script>
        <script src="https://unpkg.com/netlify-auth-providers"></script>
    </body> 
</html>
